---

---

<section
  class="whitespace-nowrap overflow-x-hidden bg-pink-800 text-white py-4"
>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
  >
    <span>God dag</span>
    <span>Du er for sej</span>
    <span>Kode er svært:(</span>
    <span>Design er sjovt:)</span>
    <span>Livlige og levende webløsninger</span>
    <span>UI & UX</span>
    <span>Du ser godt ud</span>
    <span>Mega fedt!</span>
    <span>Dit site bliver bedre!</span>
  </div>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
    aria-hidden="true"
  >
    <span>God dag</span>
    <span>Du er for sej</span>
    <span>Kode er svært:(</span>
    <span>Design er sjovt:)</span>
    <span>Livlige og levende webløsninger</span>
    <span>UI & UX</span>
    <span>Du ser godt ud</span>
    <span>Mega fedt!</span>
    <span>Dit site bliver bedre!</span>
  </div>
</section>
